/* body{
  display: flex;
} */
.card{
  position: relative;
  width: 100px;
  height: 133px;
  border-style: solid;
  margin: 1em;
  display: inline-block;
}
.card:hover{
  cursor: pointer;
}
.picked{
  opacity: .3;
}
.operator{
  width: 20px;
  text-align: center;
  border-style: solid;
  border-width: 0 2px 2px 0;
}
.number{
  text-align: center;
  padding: 20% 0;
  font-size: xxx-large;
}
.hide{
  display: none;
}
form{
  margin: 4px;
}

.player{
  min-height: 200px;
  display: grid;
  grid-template-columns: 10em auto;
  flex-direction: column;
  border-style: solid;
  border-width: thin;
}
.side{
  display: grid;
  grid-template-rows: 2em 2em;
  border-width: 0 thin 0 0;
  border-style: solid;
}
.tag{
  display: grid;
  padding: 0 1em;
  align-items: center;
  font-weight: bold;
}

button{
  margin: 0 4px;
}
.card-container{
  padding: 1em;
}

.red{
  background-color: #ff8080;
}
.blue{
  background-color: #0080ff;
}
.green{
  background-color: #80ff80;
}
.yellow{
  background-color: #ffff80;
}